html,body {
  padding: 0;
  margin: 0;
  background-color: #fbf6f3;
}



h2 {
font-family: grueber, serif;
font-weight: 700;
font-style: normal;
font-size: 80px;
margin: 0;
padding: 0;

}

h3 {
font-family: grueber, serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
margin: 0;
padding: 0;
text-decoration: underline;
align-items: center;

}

a {
  padding: 10;
  font-size: 20px;
	text-decoration: none;

}
a:hover {

	font-size: 80px;
	color: black;
}

p {
	font-size: 19px;
	font-family: arial;
}

.box1 {
	display: flex;
  float: left;
	padding:5px;
	margin: 2%;
  justify-content: center;
	width: 22%;
  background-color: #e6f5ff;
  border: solid 10px #99d6ff;

}

.container {
   padding: 10;
   display:flex;
   -webkit-flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

.items {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.items img  {
  width: 50vw;
  padding: 4vh;
  height: auto;

