* {
  box-sizing: border-box;
}

body {
    background-color: #ece5da;
}
.title {
    background-color: #ece5da;
    box-shadow: 2px 2px 5px 2px #424f63;
}

.title a {
text-decoration: none;
}

h1 {
    margin:0;
    padding: 10px;
    font-size: 50px;
    font-family: Avenir;
    color: black;
}

}
nav ul {
    margin: 0;
    padding: 5;
    font-family: Avenir;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem 0 0;
    padding:0;
    color: ;
}

nav ul li a {
  color: black;
  font-family: Avenir;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.dropbutton {
  background-color:#ece5da;
  color: black;
  font-family: Avenir;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 1;
}

.dropdown-content {
  color: black;
  display: none;
  position: absolute;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Avenir;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

.images {
    float: center;
}
