
body {
  font-size:18px;
  background-color: #d9fcde;
}

a {
  color: black;
  font-family: arial;
}

a:hover {
  color: purple;
  font-size: 40px;
   font-family: arial;
}

.container {
width: 90%;
  position: relative;
  display: flex;
}

.container p {
   justify-content: center;
  font-family: arial;
  padding: 5%;
  font-size:21px; 
  color:black;
  line-height: 40px;
}

h1 {
    margin:0;
  font-size: 100px;
  font-family: wigwag-bold, sans-serif;
  font-weight: 400;
  font-style: normal;

}
h2 {
    font-size: 40px;
    font-family: Arial;
    color: black;
}
nav ul {
    margin: 0;
    padding: 2;
    font-family: Arial;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem 0 0;
    color:black ;
}

nav ul li p {
  color: black;

  font-family: Arial;
  padding: 20px;
  font-size: 20px;
  border: none;
  text-decoration: none;
}

.left-content {  
  justify-content:center;
  width: 200px;
  background-color: lightgreen;
  border: 10px solid black;
  padding: 10px;
  margin: 5px;
}
img {
 padding: 1%;
  max-width:100%;
  height: auto;
  background-color: black;
opacity: 0.6;
}

img:hover {

  opacity: 1;
}

.left-content img {
transition: transform .2s;
}
.left-content img:hover {
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}