body { 
	font-size:18px;
	background-image: url(imgs.png);
}

h1 {
	font-size: 100px;
	color: black;
	font-family: cursive;
	filter: saturate(8);
	font-family: wigwag-bold, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
	font-size: 40px;
	color: red;
}

a {
	font-size: 25px; 
	color: red;
	margin-top:20px;
	margin-bottom:20px;
	padding: 0;
}

a:hover {
	color: purple;
}

.container {
	background-color: black;
	opacity: 0.6;
	width:80%;
	position: relative;
	height: auto;
	display: flex;
	margin:100px auto;
	overflow:auto;
	padding:5%;
	text-align: center;
}

.container p {
	font-family: arial;
	font-size: 25px; 
	color: #fff;
	opacity: 1;
	margin:0;
	padding: 0;
	line-height: 40px;
}

.left-content {
	border-right:40px dotted #666;	
	text-align:right;
}
.left-content p {
	margin:150px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}
img {
 padding: 1%;
  max-width:100%;
  height: auto;
  background-color: black;
opacity: 1;
}

.left-content img {
transition: transform .2s;
}
.left-content img:hover {
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


